<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>68723496728-nq13dmjijqh07huhqbbp3sf3hbo2uscf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.68723496728-nq13dmjijqh07huhqbbp3sf3hbo2uscf</string>
	<key>API_KEY</key>
	<string>AIzaSyBbCg4Yfbxq61gQ7u7V7nQbPQhuMTNryuM</string>
	<key>GCM_SENDER_ID</key>
	<string>68723496728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shivaapple.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chatgram</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chatgram.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:68723496728:ios:58e452c2b10ee42f</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chatgram.firebaseio.com</string>
</dict>
</plist>